@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.yalg {
  margin-left: 185px;
  overflow-x: none;
}

.container {
  max-width: 67vw;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: "Bebas";
  font-weight: 700;
  text-align: center;
  color: #111C4E;
  font-size: 5.625vw;
  line-height: 100%;
}

.text {
  font-family: "Open Sans", sans-serif;
  color: #111C4E;
  font-size: 1.25vw;
  line-height: 117%;
  font-weight: 400;
}

.header {
  background-image: url(../images/header/header__bg.png);
  background-size: cover;
  background-position-x: left;
  position: relative;
}

.header_wrapper {
  display: flex;
  margin-left: 6.5vw;
  position: relative;
  height: 90vh;
}

.snow-up, .snow-down {
  width: 100vw;
}

.snow-down-header {
  position: absolute;
  bottom: 0vw;
}

.header__logo {
  position: absolute;
  top: 1vw;
  left: 15vw;
  width: 6vw;
}

.header__image {
  margin-top: auto;
}

.header__img {
  width: 45vw;
}

.header__content {
  position: absolute;
  right: 0vw;
  bottom: 25vw;
}

.header__img-text {
  width: 55vw;
}

.header__text {
  width: 25vw;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.46vw;
  line-height: 115%;
  text-align: right;
  position: absolute;
  left: 14vw;
  bottom: -12vw;
}

.bg__task-CA {
  padding-top: 5vw;
  background-image: url(../images/task__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5vw;
}

.task {
  margin-bottom: 4vw;
}

.task__title {
  margin-bottom: 4vw;
}

.task__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.task__item {
  display: flex;
  align-items: center;
  flex-basis: 49%;
  margin-bottom: 2vw;
}

.task__item-img {
  margin-right: 1.1vw;
  width: 7vw;
}

.CA {
  position: relative;
}

.varezhka {
  position: absolute;
  width: 12vw;
  top: -5vw;
}

.varezhka__left {
  left: 0;
}

.varezhka__right {
  right: 0;
}

.CA__title {
  margin-bottom: 5.2vw;
}

.CA__list {
  display: flex;
  justify-content: space-between;
}

.CA__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 31%;
}

.CA__item-title {
  font-size: 2.9vw;
  line-height: 50%;
  text-align: left;
  margin-bottom: 1.45vw;
}

.CA__item-subtitle {
  font-family: "Bebas";
  color: #76BC21;
  font-size: 1.25vw;
  line-height: 115%;
  margin-bottom: 1.45vw;
}

hr {
  border: 2px dashed #76BC21;
  width: 70%;
  margin: 0;
  margin-bottom: 1.45vw;
}

.desicion {
  background-image: url(../images/desicion/desicion__bg.png);
  background-size: cover;
}

.desicion__wrapper {
  padding-bottom: 5vw;
  padding-top: 5vw;
}

.desicion__title {
  color: #fff;
  margin-bottom: 7.5vw;
}

.desicion__inner {
  display: flex;
  position: relative;
  margin-bottom: 5.4vw;
}

.desicion__content {
  max-width: 36.25vw;
}

.desicion__content-title {
  color: #fff;
  font-size: 2.9vw;
  text-align: left;
  margin-bottom: 2.7vw;
}

.desicion__content-text {
  color: #fff;
}

.desicion__image {
  position: absolute;
  right: -10vw;
  top: -15vw;
}

.desicion__img {
  width: 35vw;
}

.desicion__system {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  margin-bottom: 3.3vw;
}

.desicion__system-img {
  position: absolute;
  width: 10vw;
  transform: translateX(-50%);
  left: 50%;
}

.desicion__item {
  flex-basis: 38%;
  text-align: right;
}

.desicion__item:nth-child(odd) {
  margin-top: 4.5vw;
  text-align: left;
}

.desicion__item-text {
  color: #fff;
}

.desicion__subtext {
  color: #fff;
  font-size: 0.73vw;
  text-align: left;
}

.result {
  background-image: url(../images/result/result__bg.png);
  background-size: cover;
  position: relative;
}

.result__box {
  position: absolute;
  width: 15vw;
}

.result__box-left {
  left: 3vw;
  top: -7vw;
}

.result__box-right {
  right: 0;
  top: -15vw;
}

.result__wrapper {
  padding-top: 5vw;
}

.result__title {
  margin-bottom: 4.3vw;
}

.result__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result__item {
  flex-basis: 48%;
  margin-bottom: 5.3vw;
  z-index: 2;
}

.result__item-title {
  font-size: 2.91vw;
  text-align: left;
  position: relative;
  margin-bottom: 1vw;
}

.result__item-title::before {
  content: "";
  position: absolute;
  width: 6.3vw;
  height: 6.3vw;
  border-radius: 50%;
  background-color: #76BC21;
  left: -1.5vw;
  top: -0.5vw;
  z-index: -1;
}

.footer__bg {
  background-image: url(../images/footer__bg.png);
  background-size: cover;
}

.opinion {
  margin-bottom: 5.2vw;
}

.opinion__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 5vw;
}

.opinion__content {
  flex-basis: 55%;
}

.opinion__citata {
  width: 5vw;
  margin-bottom: 4vw;
}

.opinion__textblock {
  color: #fff;
  margin-bottom: 4vw;
}

.opinion__text1 {
  font-weight: 700;
  color: #fff;
  margin-bottom: 2vw;
}

.opinion__text2 {
  color: #fff;
}

.opinion__footer-title {
  color: #76BC21;
  text-align: left;
  font-size: 2.9vw;
  margin-bottom: 1vw;
}

.opinion__footer-text {
  color: #fff;
}

.opinion__image {
  position: absolute;
  right: -7vw;
  width: 33vw;
}

.team__title {
  color: #fff;
  margin-bottom: 3.5vw;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  flex-basis: 50%;
  margin-bottom: 3vw;
}

.team__item-title {
  color: #fff;
  font-size: 2.91vw;
}

.team__item-text {
  color: #fff;
  text-align: center;
}/*# sourceMappingURL=style.css.map */